---
interface Props {
	href: string
}

const { href } = Astro.props
---

<a href={href} class="card flex flex-col bg-white text-black p-6 rounded-3xl border border-black">
	<slot />
</a>

<style>
	.card {
		box-shadow: 10px 10px 0px rgba(0 0 0);
		transition: color 0.3s;
		transition-property: box-shadow;

		&:hover {
			box-shadow: 20px 20px 0px rgba(0 0 0);
		}
	}
</style>
